  {% load bootstrap_icons %}
  <table class="table table-light table-hover">
    <thead>
    <tr>
      <th scope="col">Your words <i title="select row to copy to searchbar">{% bs_icon 'question-circle' %}</i></th>
    </tr>
  </thead>
    <tbody>
      {% if terms == ' ' %}
      <tr><td>You are not logged in</td></tr>
      {% else %}
      {% for term in terms %}
        <tr onclick="copyToSearchBar('{{ term.term }}')" style="cursor: pointer;">
          <td>{{ term.term }}</td>
        </tr>
      {% endfor %}
      {% endif %}
    </tbody>
  </table>
<script>
  function copyToSearchBar(term) {
    var searchBar = document.getElementById('id_query');
    searchBar.value = term;
  }
</script>