{% extends 'index.html' %}
{% block content %}
<div style="float: left;">
  <h1>Wiki (pl) search</h1>
  <!-- search form -->
  <form method="post">
    {% csrf_token %}
    {{ form }}
    <button type="submit" value="Search"> Wyszukaj </button>
  </form>
</div>
<div style="float: right;">
  <h1>Your words</h1>
  <table>
    <tbody>
      {% if terms == ' ' %}
      <tr><td>You are not logged in</td></tr>
      {% else %}
      {% for term in terms %}
        <tr onclick="copyToSearchBar('{{ term.term }}')">
          <td>{{ term.term }}</td>
        </tr>
      {% endfor %}
      {% endif %}
    </tbody>
  </table>
</div>
<script>
  function copyToSearchBar(term) {
    var searchBar = document.getElementById('id_query');
    searchBar.value = term;
  }
</script>
<div style="clear:both;">
    <!-- search results -->
  {% for result in results %}
    <h2>{{ result.term }}</h2>
    {{ result.extract|safe }}
  {% endfor %}
</div>
{% endblock %}

