{% extends 'index.html' %}
{% block content %}
<div class="container py-5" align="center" style="width:40%;">
	<h1>Register</h1>
	<form method="POST">
		{% csrf_token %}
		{{ register_form.username.label }}:
		{{ register_form.username }}
		<br>
		{{ register_form.password1.label }}:
		{{ register_form.password1 }}
		<br>
		{{ register_form.password2.label }}:
		{{ register_form.password2 }}
		<br>
		{{ form.errors }}
		<button class="btn btn-primary" type="submit">Register</button>
	</form>
	<p class="text-center">If you already have an account, <a href="../login/">login</a> instead.</p>
</div>
{% endblock %}