{% extends 'notes/index.html' %}
{%block content%}
{% if request.user.is_authenticated %}
<h1>Your notes</h1>
<div class="row row-cols-1 row-cols-md-3 g-4">
{% for note in user_notes %}
  <div class="col">
    <div class="card h-100">
      <div class="card-body">
        <h5 class="card-title">{{ note.title }}</h5>
        <p class="card-text">{{ note.content }}</p>
      </div>
      <div class="card-footer">
        <small class="text-muted">{{ note.date }}</small>
      </div>
    </div>
  </div>
  {% endfor %}
</div>
<br>
<a href="./newnote" class="btn btn-outline-primary btn-lg" role="button"> Dodaj notatkę</a>
{% else %}
{% include 'login/nologin.html' %}
{% endif %}
{%endblock%}