{% load bootstrap_icons %}
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <div class="container-fluid">
     <a class="navbar-brand" href="../">{% bs_icon 'house' size='1.5em'%}</a>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link" href="../notes">Notes</a>
        <a class="nav-link" href="../polls">Polls</a>
        <a class="nav-link" href="../weather">Weather</a>
        <a class="nav-link" href="../wiki">Wikipedia</a>
      </div>
    </div>
  </div>
</nav>

