<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <div class="container-fluid">
     <span class="navbar-brand mb-0 h1">Menu</span>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link" href="../notes">Notes</a>
        <a class="nav-link" href="../polls">Polls</a>
        <a class="nav-link" href="../weather">Weather</a>
        <a class="nav-link" href="../wiki">Wikipedia</a>
      </div>
    </div>
  </div>
</nav>

